[Unit]
Description=Audiozentrale regelmäßig mit origin/main abgleichen

[Timer]
OnActiveSec=20s
OnUnitActiveSec=60s
AccuracySec=1s
RandomizedDelaySec=0
Persistent=true
Unit=audio-control-deploy.service

[Install]
WantedBy=timers.target
